.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

header {
  text-align: center;
}

body {
  font-family: 'Istok Web', serif;
  font-size: 18px;
  color: #47484B;
  line-height: 1.5;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  height: 114px;
  margin-top: 15px;
}

.navigation li {
  font-family: "passion one";
  padding: 5px 0px;
}

.navigation li a {
  color: #47484B;
  font-size: 22px;
  text-decoration: none;
  padding: 0px 15px;
}

.navigation a:hover {
  color: #d70000;
}

.intro p {
  margin: auto;
  width: 90%;
}

.intro h2 {
  margin: auto;
  width: 90%;
  padding: 20px 0;
}

.intro {
  padding: 20px 0;
  padding-bottom: 40px;
  background-color: #eaeaea;
}

.makeItEasy {
  text-align: center;
}

.leftColumn {
  width: 300px;
  height: 380px;
  text-align: center;
  margin: auto;
}

.leftColumn p {
  text-align: left;
}

.centerColumn {
  width: 300px;
  height: 380px;
  margin: auto;
  text-align: center;
}

.centerColumn p {
  text-align: left;
}

.rightColumn {
  width: 300px;
  height: 390px;
  margin: auto;
  text-align: center;
}

.rightColumn p {
  text-align: left;
}

.red {
  color: #D70000;
}

.hours-list ul {
  list-style: none;
  padding: 0;
}

h1, h2 {
  font-family: "Passion One";
}

.clipart {
  height: 125px;
}

.makeItEasy {
  margin: 50px 0;
}

.banner {
  width: 100%;
  height: 200px;
  background-color: #D70000;
}

.hours-list {
  text-align: center;
}

.best {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -10px;
}

.footer {
  color: #fff;
  text-align: center;
  padding-top: 10px;
  background-color: black;
  height: 150px;
  width: 100%
}

.footer ul {
  list-style: none;
  padding: 0;
}

@media (min-width: 769px) {
  .main-header, .navigation {
    display: flex;
  }
  .main-header {
    flex-direction: column;
    align-items: center;
  }
  .navigation li {
    padding: 20px 0px;
  }
}

@media (min-width: 1025px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .intro p {
    margin: auto;
    width: 100%;
  }
  .intro h2 {
    width: auto;
  }
  .columns {
    display: flex;
  }
}
