.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#logo {
  width: 100%;
  height: 114px;
  margin-top: 15px;
}

body {
  font-family: 'Istok Web', serif;
  font-size: 18px;
  color: #47484B;
  line-height: 1.5;
  font-size: 16px;
}

.navigation ul {
  font-family: "passion one";
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;

}

.navigation ul li a {
  color: #47484B;
    font-size: 22px;
  display: block;
  text-decoration: none;
  }

.navigation a:hover {
  color: #d70000;
}

.intro p {
  margin: auto;
  width: 90%;
}

.intro h2 {
  text-align: center;
}

.tirerack {
  height: 400px;
  margin-top: 60px;
}

.intro {
  width: 100%;
  padding: 40px 0;
  background-color: #eaeaea;
}

.makeItEasy {
  text-align: center;
}

.leftColumn {
  width: 300px;
  height: 380px;
  text-align: center;
  margin: auto;
}

.leftColumn p {
  text-align: left;
}

.centerColumn {
  width: 300px;
  height: 380px;
  margin: auto;
  text-align: center;
}

.centerColumn p {
  text-align: left;
}

.rightColumn {
  width: 300px;
  height: 390px;
  margin: auto;
  text-align: center;
}

.rightColumn p {
  text-align: left;
}

.red {
  color: #D70000;
}

.hours-list ul {
  list-style: none;
  padding: 0;
}


h1, h2 {
  font-family: "Passion One";
}

.clipart {
  height: 125px;
}

.makeItEasy {
  margin: 50px 0;
}

.banner {
  width: 100%;
  height: 200px;
  background-color: #D70000;
}

.hours-list {
  text-align: center;
}

.best {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -10px;
}

.footer {
  color: #fff;
  text-align: center;
  padding-top: 10px;
  background-color: black;
  height: 150px;
  width: 100%
}

.footer ul {
  list-style: none;
  padding: 0;
}
